.venv/
Python-Programming-An-Introduction-to-Computer-Science.pdf
Intro-to-Computer-Science-Day-2.pdf
MATH121-Syllabus.pdf
classwork/
homework/
Intro to Computer Science.code-workspace
user-input.txt
__pycache__/
project1/File-from-iOS.py
requirements.txt